/* Banner.css */

.banner {
    position: relative;
    text-align: center;
    color: #fff;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .banner {
      height: 400px;
    }
  
    h1 {
      font-size: 3rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .banner {
      height: 500px;
    }
  
    h1 {
      font-size: 4rem;
    }
  
    h2 {
      font-size: 2rem;
    }
  }
  