/* Nav.css */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 100;
  }
  
  .nav-black {
    background-color: #111;
  }
  
  .nav-logo {
    width: 150px;
    max-width: 80vw; /* Limit the logo size for smaller screens */
  }
  
  @media screen and (max-width: 768px) {
    .nav {
      padding: 10px;
    }
  
    .nav-logo {
      width: 100px;
    }
  }
  